
.banana {
    background-image: url("../image/banana.jpg");
}
.blueberry {
    background-image: url("../image/blueberry.jpg")
}
.cherry {
    background-image: url("../image/cherry.jpg")
}
.fullmelon {
    background-image: url("../image/fullmelon.jpg")
}
.grapes {
    background-image: url("../image/grapes.jpg")
}
.lemon {
    background-image: url("../image/lemon.jpg")
}
.lime {
    background-image: url("../image/lime.jpg")
}
.melon {
    background-image: url("../image/melon.jpg")
}
.pear {
    background-image: url("../image/pear.jpg")
}
.pineapple {
    background-image: url("../image/pineapple.jpg")
}
.strawberry {
    background-image: url("../image/strawberry.jpg")
}
