img.question {
    background-image: url("../image/0.png")
}
.octupus {
    background-image: url("../image/1.png");
}
.grammofon {
    background-image: url("../image/2.png")
}
.clock {
    background-image: url("../image/3.png")
}
.cup {
    background-image: url("../image/4.png")
}
.rose {
    background-image: url("../image/5.png")
}
.scissor {
    background-image: url("../image/6.png")
}
.hat {
    background-image: url("../image/7.png")
}
.skeleton {
    background-image: url("../image/8.png")
}
